.projectsInMain {
  &__container {
    display: flex;
    flex-direction: column;
    &__image {
      &__container {
        height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        align-items: center;

        img {
          cursor: pointer;
        }
      }
    }
  }
}

.imageWrapper {
  position: relative;
  width: 60%;
  display: inline-block;
}

.imageShadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  border: 1px solid black;
  top: 4px;
  left: 4px;
}

.imageContent {
  position: relative;
  background-color: white;
  border: 1px solid black;

  img {
    display: block;
  }
}

.projectsList {
  position: sticky;
  top: 0.8%;
  right: 0;
  z-index: 100; // Passe au-dessus des images

  color: red;
  width: auto;
  max-height: 0; // Ne prend AUCUN espace dans le flux
  margin-left: auto; // pousse à droite dans un flex
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; // aligne tous les enfants à droite
  overflow: visible; // Les titres débordent mais ne poussent pas

  &div {
    text-align: right; // aligne le texte à droite pour chaque titre
  }
}
