.projectsInMain {
  &__container {
    display: flex;
    flex-direction: column;
    &__image {
      &__container {
        // position: relative;
        height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.projectsList {
  position: sticky;
  top: -0.55%;
  right: 0;

  color: red;
  width: auto;
  margin-left: auto; // pousse à droite dans un flex
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; // aligne tous les enfants à droite

  &div {
    text-align: right; // aligne le texte à droite pour chaque titre
  }
}
