.articles {
  position: relative;
  background-color: var(--background);
  transition: background-color 0.3s ease;
  overflow: hidden;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-top: 10vh;
    padding-bottom: 2vh;
    &__wrapper {
      // margin-left: 10vw; // To account for the articlesMenu width
      width: 75vw;
      // height: 85vh;
      height: 100%;
      max-height: auto;
      background-color: var(--card-background);
      transition: background-color 0.3s ease;
      // padding: 5%;
      display: flex;
      align-items: center;
      &__project {
        height: 100%;

        &__images {
          height: 100%;
          width: auto;
          display: flex;
          justify-content: center;
          // align-items: center;
          background-color: red;
        }
      }
      // h1 {
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      // }
    }
  }
}
