.articles {
  position: relative;
  background-color: var(--background);
  transition: background-color 0.3s ease;
  overflow: hidden;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    &__wrapper {
      margin-left: 10vw; // To account for the articlesMenu width
      width: 75vw;
      height: 85vh;
      background-color: var(--card-background);
      transition: background-color 0.3s ease;
      padding: 5%;
      h1 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
