.page {
  width: auto;
  width: 100vw;
  overflow: hidden;

  @media (max-width: 768px) {
    overflow: visible;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  pointer-events: none;
  overflow: hidden;
}

.animatedSticker {
  position: absolute;
  will-change: transform, opacity;
  pointer-events: none;
  opacity: 0.9;

  // img {
  //   filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
  // }
}
.wrapper {
  display: flex;
  height: 100vh;
  width: 200vw;
  overflow: hidden;
}

.main {
  width: 60vw;
  background-color: #fafafa;
  overflow-y: auto;
  flex-shrink: 0;
}

.sidebar {
  width: 40vw;
  background-color: #fafafa;
  border-left: 0.5px solid black;
  overflow: auto;
}

.articles {
  flex-shrink: 0;
  width: 0;
  background-color: red;
  overflow: hidden;
}

.desktopOnly {
  @media (max-width: 768px) {
    display: none;
  }
}

.mobileOnly {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
