.sidebar {
  &__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: 1%;
    &__header {
      &__firstline {
        display: flex;
        justify-content: space-between;
        &__seconditems {
          display: flex;
          flex-direction: column;
          // justify-content: center;
          align-items: center;
          // background-color: red;
        }
        &__thirditems {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          text-align: right;
        }
      }
    }
    &__bottom {
      &__container__paper {
        padding: 1%;
        background-color: grey;
      }
    }
  }
}
