.main__container {
  position: relative;
  background-color: var(--background);
  height: 100vh;
  transition: background-color 0.3s ease;

  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE et Edge Legacy */
}
.main__container::-webkit-scrollbar {
  display: none; /* Chrome, Safari et Opera */
}
